<div class="row pt-4">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body ml-4 mr-4">
            <form class="form">
              <div class="form-group">
                <label for="">Email</label> 
                <input [(ngModel)]="loginUserData.email" name = "email" type="text" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)] = "loginUserData.password" name="password" type="password" class="form-control rounded-0" required>
              </div>
              <button (click)="loginUser()" [disabled]="authlogin.loginOk" 
                class="btn btn-primary float-right mb-3">Login</button>

                <button [disabled]="authlogin.loginEvents" routerLink="/events"
                class="btn btn-success float-right mb-3 mr-3">Events</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- routerLink="authlogin.loginOk ? /events : /login"  -->